* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.noChaos {
  pointer-events: none;
}
.selected {
  color: violet;
}
.selection-missing {
  color: red;
}
.drag-box,
.droppable-item {
  border: solid blueviolet;
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
}
.article {
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag-box.drag-hover {
  border-width: 5px;
  transform: scale(1.1);
}
.main-container-drop-pairs {
  display: flex;
}
.droppable-item {
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.noun-container-drop-pairs,
.article-container-drop-pairs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.article-container-drop-pairs {
  background-color: aquamarine;
}
.noun-container-drop-pairs {
  background-color: rgb(242, 184, 109);
}
.dropItemsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.drag-box {
  position: relative;
}
.delete-button {
  cursor: pointer;
  position: absolute;
  left: 100%;
  bottom: 100%;
  color: red;
  transform: translate(-50%, 50%);
  /* transform: translate(-50%, 50%); */
}
.deactivated {
  pointer-events: none;
  color: gray;
  border-color: gray;
}
